.dashboard {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.dashboard h5 {
    margin: 0 0 75px 0;
}

.info-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.info-box {
    border-radius: 15px;
    width: 275px;
    margin: 20px;
    min-height: 350px;
    box-shadow: 6px 6px 40px 0px rgba(128,125,128,1);
    cursor: pointer;
    padding: 20px;
}

.info-box:hover p {
    text-decoration: underline;
    color: #635dff;
}

.info-box h3 {
    color: #595959;
    margin: 0 0 100px 0;
}

.user-totals {
    color: #635dff;
    font-size: xx-large;
    font-weight: 600;
    
}

.dashboard-links {
    text-decoration: none;
    color: black;
}

.dashboard-links:hover {
    text-decoration: none;
    color: black;
}

.dashboard-icons {
    margin: 0 0 75px 0;
    color: mediumblue;
}



/*ANIMATIONS*/

.pulse-hover-sm {
    transition: transform .2s;
}

    .pulse-hover-sm:hover {
        transform: scale(1.05);
    }

