

.department-item {
    border-radius: 20px;
}

.department-item:nth-child(2n+2) {
    background-color: #e8e8e8;
}

.department-item:last-of-type {
    border-bottom: 3px solid #635dff;
}

.department-item tr {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.department-item tr:last-child {
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.department-item td {
    width: 33%;
    margin: auto;
}

.dept-btns {
    margin: 0 20px 0 20px;
}


@media only screen and (max-width: 400px) {
    .dept-btns {
        margin: 0 10px 0 10px;
    }
}

