
.home-bg {
    display: flex;
    flex-direction: column;
}

.greeting {
    margin: auto;
    text-align: center;
}

.greeting h2 {
    margin: 0 0 20px 0;
}

.greeting h4 {
    color: #635dff;
    margin: 0 0 50px 0;
}

.features p {
    text-align: center;
    margin: 0 0 75px 0;
}

.features h4 {
    text-align: center;
    color: #635dff;
    text-decoration: underline;
}

.features ul {
    list-style: none;
}

.features ul li::before {
  content: "\2022";  
  color: #635dff; 
  font-weight: bolder; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
}





