

.product-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 3px solid gray;
}

.product-page h3 {
    margin: 10px 0 25px 0;
}

.product-page h5 {
    text-align: left;
    margin: 15px 0 0 0;
}

.product-desc {
    justify-content: center;
}

.product-desc tr {
    display: flex;
    justify-content: space-around;
    border-bottom: 4px solid gray;
    margin-bottom: 7px;
}

.add-product-btn {
    color: white;
    background-color: #635dff;
    width: 100px;
    font-weight: 600;
    margin: 0 20px 25px auto;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px;
}

.add-product-btn span {
    background-color: white;
    color: #635dff;
    border-radius: 20px;
    padding: 0 6px 0 6px;
    float: left;
    
}